# Build artifacts
obj/
*.o
*.so
*.dylib
*.a

# Compiled shaders
*.spv

# Example binaries
examples/basic

# Dependencies
deps/*
!deps/cglm/
!deps/podi/

# Debug files
*.dSYM/
*.gdb_history

# Platform specific
.DS_Store
Thumbs.db

# Editor/IDE files
.vscode/
.idea/
*.swp
*.swo
*~

compile_commands.json